@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rope: #7366e6;
    --main: #2b2c2c;
    --secondary: #5a39ee;
    --menu: #abb8f7;
    --heading: #ff0000;
    --font: #dadffa;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--main);
    width: 100vw;
    overflow-x: hidden;
}

a {
    /*remove alzhimer's*/
    text-decoration: none;
}

ul {
    /*remove bullets*/
    list-style: none;
}


/* header */

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
}

.logo,
.menu_item,
.toggleMenu {
    /* menu button color */
    color: var(--rope);
}

.logo {
    font-size: 1.75em;
}

.logo img {
    width: 125px;
}

.menu {
    /* straight line */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .menu_item {
    padding: 5px 15px;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
}

.menu .menu_item::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: var(--rope);
    transition: width 0.19s ease-out;
    z-index: -1;
    top: 0;
    left: 0;
}

.menu .menu_item:hover::before {
    width: 100%;
}

.menu .menu_item a {
    color: var(--menu);
}

.toggleMenu {
    font-size: 1.75em;
    cursor: pointer;
    display: none !important;
}


/* register button on home */

.register_btn {
    padding: 10px 41px;
    background-color: var(--menu);
    text-align: center;
    font-size: 18px;
    color: #222;
    font-weight: 500px;
    border-radius: 2px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all 0.19s ease-in-out;
}

.register_btn:hover {
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: var(--rope);
}


/* search on shop page */

.search {
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid var(--rope);
    border-radius: 5px;
    background-color: var(--menu);
}

.search i {
    font-size: 19.8px;
    color: black;
    margin-right: 10px;
}

.search input {
    background: var(--menu);
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    font-weight: 500;
}

::placeholder {
    color: black;
}

.clsBtn {
    display: none;
}


/* for video */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bgv {
    width: 100vw;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background: #000000cc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}


/* home page */

section {
    width: 100vw;
    height: 100vh;
    padding-top: 120px;
    z-index: 50;
}

.homePg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content p {
    font-size: 3rem;
    color: var(--font);
    text-align: center;
}

.content p span {
    color: var(--heading);
}

.content .goDwn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10%;
    animation: upSide 1s infinite;
    transition: transform 1s ease-in-out;
}

@keyframes upSide {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.content .goDwn i {
    font-size: 40px;
    color: var(--menu);
}

@media only screen and (max-width: 500px) {
    .toggleMenu {
        display: block !important;
    }
    .clsBtn {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 10%;
        left: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--menu);
        cursor: pointer;
    }
    .clsBtn i {
        font-size: 1.75rem;
        animation: spin 1s;
    }
    .clsBtn:hover i {
        animation: spin 1s infinite
    }
    .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        right: -100%;
        background-color: var(--secondary);
        width: 50%;
        height: 100vh;
        transition: right 0.3s ease-in-out;
    }
    .menu.show {
        right: 0%;
    }
    .menu .menu_item {
        margin: 20px 0px;
    }
    .menu .menu_item a {
        font-size: 23px;
    }
    header {
        padding: 10px 20px;
    }
    .content {
        width: 45%;
    }
    .content p {
        font-size: 1.75rem;
    }
}